  <div class="container">
    <h1>my-group-car</h1>
    <div class="body">
      <div class="approve-message-container">
      <div class="approve-message">
        <b>
          Account request<br />
          ✔️<b>APPROVED</b>✔️
        </b>
      </div>
    </div>
      <p>
        Your request for creating the account {{{username}}} has been approved.
        You can now visit <a href="https://{{{website}}}/?modal=/auth/login">{{{website}}}</a> 
        again and log in with your credentials
      </p>
      <div class="card">
        <img class="profile-pic" src="data:image/jpeg;base64,{{{profilePicData}}}"/>
        <div class="card-body">
          <div class="card-header">
            {{{username}}}
          </div>
          <div class="card-subtitle">
            {{{email}}}
          </div>
        </div>
      </div>
    </div>
  </div>  