  <div class="container">
    <div class="header">
      <p style="font-size: x-large;margin-bottom: 0">
        <b>
          {{{serverType}}} server / sign up request
        </b>
      </p>
      <p style="font-size: small;">
        <b>
          {{{timestamp}}}
        </b>
      </p>
    </div>
    <div style="padding: 8px">
      <p style="text-align: center;margin-bottom: 32px;">
        A visitor of the {{{serverType}}} server wants to create an account.
      </p>
      <div class="data-container">
        <div class="data-item">
          <div class="data-item-value">
            ID
          </div>
          <div class="data-item-value">
            {{{id}}}
          </div>
        </div>
        <div class="data-item">
          <div class="data-item-value">
            Username
          </div>
          <div class="data-item-value">
            {{{username}}}
          </div>
        </div>
      </div>
    </div>
  </div>